form {
    display: grid;
    max-width: 300px;
    gap: 10px; /* Larger gap between label/input groups */
    background-color: #EDEFEE;
  }
  
  /* Styling for the label and input */
  label {
    margin-top: 20px;
    margin-bottom: 1px; /* Small space between label and input */
    font-weight: bold;
  }
  
  /* Ensure inputs have the same width */
  input, select {
    width: 100%; /* Makes all inputs/selects consistent */
    padding: 1px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: -20px;
  }

  .btn input{
    padding: 12px 16px;
    margin-top: 20px;
    background-color: #485E57;
    color: #f4ce14;
    font-weight: 700;
    border: none;
    border-radius: 4px;
  
  }

  .btn input[type="submit"]:hover {
    background: #f4ce14;
    color: #485E57;
  }

  h1 {
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    font-weight: 500; /* Medium */
    color: #485E57
  }

  .confirmation-box h2 {
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    font-weight: 500; /* Medium */
    color: #485E57
  }

  .confirmation-box {
    display: grid;
    max-width: 40%;
    gap: 10px; /* Larger gap between label/input groups */
    background-color: #EDEFEE;
    margin: auto;
    width: 50%;
    margin-bottom: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .confirmation-box h3 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 800; /* Extra-Bold */
    color: #485E57
  }
